{
  "Parameters": {
    "TelegramBotToken": "***",
    "ChatId": "***",

    "AllowToTrade": "False",
    "RiskPercentFromDeposit": "1",
    "RiskPercentFromDepositMax": "5",
    "MaxVolumeLots": "1",
    "AllowOvernightTrade": "True",
    "AllowEnterOnBigSpread": "True",
    "UseProgressiveVolume": "False",
    "UseSymbolsList": "False",
    "UseTimeFramesList": "False",
    "SaveChartForManualAnalysis": "False",
    "PostCloseMessages": "True",
    "TimeFramesToProceed": "Minute5",
    "SymbolsToProceed": "XAUUSD,XAGUSD,XAUEUR,XAGEUR,EURUSD,GBPUSD,USDJPY,USDCAD,USDCHF,AUDUSD,NZDUSD,AUDCAD,AUDCHF,AUDJPY,CADJPY,CADCHF,CHFJPY,EURCAD,EURCHF,EURGBP,EURAUD,EURJPY,EURNZD,GBPCAD,GBPAUD,GBPJPY,GBPNZD,GBPCHF,NZDCAD,NZDJPY",

    "MinSizePercent": "0.3",
    "Period": "0",
    "BarsCount": "40",
    "TakeProfitRatio": "1.0",
    "TakeProfitAtRetrace": "True",
    "RetraceAction": "NONE",
    "MinRiskRewardRatio": "0",
    "Wave3RetraceRatio": "0",
    "MinConvergence": "0",
    "MaxConvergence": "0",
    "RequireInsideWedge": "True",
    "MaxSpillAreaRatio": "0.005",
    "MaxWave5SpillRatio": "0",
    "MinWave3Penetration": "0.05",
    "MinWave4Wave2Level": "0.236",
    "RequireWave4Shorter": "True",
    "RequireWave2Shorter": "False",
    "MinWave2Retrace": "0",
    "MaxWaveDurationRatio": "8",
    "RequireWave5Ratio": "False",
    "RequireWave4Ratio": "False",
    "RequireInitialDiagonal": "False"
  }
}
